body {
	margin: 0;
	font-family: roboto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--border: 1px solid red;
}

/* Nav bar */

.navbar-container {
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: var(--border);
}

.logo-container {
	border: var(--border);
}

.nav-buttons-container {
	display: flex;
	/* justify-content: space-between; */
	gap: 20px;
	border: var(--border);
}
