body {
	margin: 0;
	font-family: roboto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

:root {
	--border: 1px dashed red;
}

button {
}

/* Nav bar */

.navbar-container {
	width: 100vw;
	height: 50px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	border: var(--border);
}

.logo-container > img {
	/* border: var(--border); */
	width: 300px;
}

.nav-buttons-container {
	display: flex;
	/* justify-content: space-between; */
	gap: 20px;
	border: var(--border);
	margin-right: 50px;
}

/* hero section */

.hero-container {
	border: var(--border);
}

/* breakfast menu */

.menu-container {
	border: var(--border);
}

/* catering section */
.catering-container {
	border: var(--border);
}

/* footer */

.footer {
	border: var(--border);
}
